// @import "include/open-color";
@import "include/include-media";

@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";


@import "layout/header";
@import "layout/footer";

@import "components/buttons";
@import "components/speaker";
@import "pages/kv/kv";
@import "pages/kv/logo";
@import "pages/kv/ground";
@import "pages/kv/space";
@import "pages/kv/alien";

@import "pages/about";
@import "pages/keynote";
@import "pages/featured";
@import "pages/speakers";
@import "pages/tickets";
@import "pages/traffic";
@import "pages/sponser";

// @include media("<=414px") {
            
// }

// @include media(">414px","<=tablet") {
    
// }
// @include media(">tablet") {
   
// }


// @include media("<=tablet") {
            
// }
// @include media(">tablet") {
            
// }
// @include media(">tablet","<=desktop") {
            
// }

// @include media(">desktop","<=1600px") {

// }

// @include media(">1600px") {

// }