#game {
    position: absolute;
    top: 0;
    left: 20%;
    height: 79%;
    width: 60%;
    border: none;
    z-index: 1000;
    display: none;
}


/* canvas {
    position: relative;
    max-width: 100%;
    border: 2px solid black;
    max-height: 100%;
    display: block;
    margin: 0 auto;
} */

#game_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: #112133;
    z-index: 999;
    display: none;
}

#btn_exit {
    position: absolute;
    top: 3%;
    right: 2%;
    z-index: 1000;
    color: #FF8A73;
    border: 1px solid #FF8A73;
    padding: 0 10px;
    cursor: pointer;
    display: none;
    &:hover {
        color: #FFACA1;
        border-color: #FF8A73;
    }
}

.alien {
    cursor: pointer;
}


/* game start */

body.game_start #game,
body.game_start #game_bg,
body.game_start #btn_exit {
    display: block;
}

body.game_start .ground {
    z-index: 1000;
}