<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Modern Web 2016將在8/24-25兩日，在台北文創舉行。今年Modern Web 2016邀請到JSON格式與《JavaScript：優良部份》作者 Douglas Crockford和Google、Nginx高手們進行主題演講，揭示Web發展動態。另外有中國Web/電子商務專家齊聚，完全解密他們在Web產業的實踐經驗，還有台灣業界高手不藏私分享。最精彩的Web技術分享與交流，就在Modern Web 2016">
    <meta name="author" content="ithome">
    <meta name="keywords" content="ithome" />
    <meta property="og:site_name" content="Modern Web 2016 ─ 技術在我們手上，世界就在我們手上" />
    <meta property="og:url" content="http://modernweb.tw" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Modern Web 2016 ─ 技術在我們手上，世界就在我們手上" />
    <meta property="og:description" content="Modern Web 2016將在8/24-25兩日，在台北文創舉行。今年Modern Web 2016邀請到JSON格式與《JavaScript：優良部份》作者 Douglas Crockford和Google、Nginx高手們進行主題演講，揭示Web發展動態。另外有中國Web/電子商務專家齊聚，完全解密他們在Web產業的實踐經驗，還有台灣業界高手不藏私分享。最精彩的Web技術分享與交流，就在Modern Web 2016"
    />
    <meta property="og:image" content="http://modernweb.tw/img/social-pic.jpg" />
    <title>Modern Web 2016 ─ 技術在我們手上，世界就在我們手上</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/space.css">
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body id="indexPage">
    <!-- <div id='wrapper'>
        <div class='clearfix' id='banner'>
            <div class='wrap clearfix'>
                <h1>2016 <span>ModernWeb</span> With <span>iThome!</span></h1>
            </div>
            <img src="img/ee.png" style="margin: 2% 3%; padding: 2% 3%;" class="earth">
        </div>
    </div> -->
    <div id="header">
        <!-- visible-xs -->
        <nav class="navbar navbar-fixed-top navbar-inverse hidden-lg hidden-md">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Modern Web 2016 </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul id="navbar-main" class="nav navbar navbar-right">
                        <!--   <li><a href="http://modernweb.tw/index.html">首頁</a></li>
                        <li><a href="http://modernweb.tw/agenda.html">活動議程</a></li> -->
                        <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sessions<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Keynote</a></li>
                            <li><a href="forum02.html">Container Platforms</a></li>
                            <li><a href="forum03.html">Platform as a Service</a></li>
                            <li><a href="forum04.html">Overlay Networks</a></li>
                            <li><a href="forum05.html">Cloud Management Platforms</a></li>
                            <li><a href="forum06.html">Data Services</a></li>
                        </ul>
                    </li> -->
                        <li><a href="speaker.html">講師與講題</a></li>
                        <li><a href="agenda.html#content">大會議程表</a></li>
                        <li><a href="http://www.ithome.com.tw/videos/modernweb2016">議程影片</a></li>
                        <li><a href="#key-spe">焦點講師</a></li>
                        <!-- <li><a href="http://modernweb.tw/sponsors.html">合作夥伴</a></li> -->
                        <li><a href="https://gitter.im/modern-web-2016/Lobby" target="_blank">線上交流</a></li>
                        <li><a href="https://hackpad.com/ModernWeb2016-xzpftpuQASz" target="_blank">線上共筆</a></li>
                        <!-- <li><a href="https://ithomeonline.typeform.com/to/k4zjp4" target="_blank">會後問卷</a></li> -->
                        <li><a href="http://s.itho.me/modernweb/2017/ModernWeb2017-Sponsorship-v20170617.pdf">2017 贊助方案</a></li> 
                        <!-- <li><a href="#traffic">交通資訊</a></li> -->
                        <!-- <li><a href="#signup">立即報名</a></li> -->
                        <li id="social">
                            <a href="http://www.facebook.com/sharer.php?u=http://modernweb.tw/" target="_blank" class="social-btn"><img src="img/icon/fb-icon.png" class="img-responsive"></a>
                        </li>
                        <li id="social">
                            <a href="http://twitter.com/share?url=http://modernweb.tw/" target="_blank" class="social-btn"><img src="img/icon/tw-icon.png" class="img-responsive"></a>
                        </li>
                        <li id="social">
                            <a href="http://line.me/R/msg/text/?http://modernweb.tw/" target="_blank" class="social-btn"><img src="img/icon/line-icon.png" class="img-responsive"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="mobile-head text-center image-responsive hidden-lg hidden-md">
            <h1>Modern Web 2016</h1>
            <h2>技術在我們手上，世界就在我們手上</h2>
            <h4>2016年8月24-25日　<span style="color: white;">台北文創 6F</span></h4>
            <!--
            <div class="text-center mobile-btn">
                <a href="#register">
                    <button class="btn btn-default" type="submit">Free Reservation</button>
                </a>
                <a href="http://goo.gl/forms/Rpn7xgU7wA" target="_blank">
                    <button class="btn btn-default" type="submit">Call for Speaker</button>
                </a>
                </a>
                <a href="#" target="_blank">
                    <a href="Prospectus-OSDayTaiwan2016.pdf" target="blank">
                        <button class="btn btn-default" type="submit">Sponsorship Prospectu</button>
                    </a>
                </a>
                <a href="#" target="_blank">
                    <a href="Prospectus-OSDayTaiwan2016-CT.pdf" target="blank">
                        <button class="btn btn-default" type="submit">中文招商企劃書</button>
                    </a>
                </a>
            </div> -->
        </div>
        <!-- /visible-xs -->
        <!-- hidden-xs -->
        <div id='wrapper' class="hidden-xs hidden-sm">
            <!-- </header> -->
            <div class="clearfix" id="banner">
                <div class="wrap clearfix" style="z-index: 9999; position: absolute;margin-top: 5%;">
                    <h1>Modern Web 2016</h1>
                    <h2>技術在我們手上，世界就在我們手上</h1>
                        <h4>
                            <i class="fa fa-calendar"></i> 2016年 8月 24-25日
                            <i class="fa fa-map-marker"></i> 台北文創
                            </h1>
                </div>
                <img src="img/earth-bg.png" style="position: absolute;right: 0px;bottom: 0px;" class="earth">
            </div>
        </div>
        <!-- /hidden-xs -->
    </div>
    <div id="nav" class="hidden-xs hidden-sm">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- <img src="img/navi-logo.png"> -->
                        Modern Web 2016
                    </a>
                </div>
                <div class="btn-bar">
                    <ul id="navbar-main" class="nav navbar navbar-right">
                        <!--   <li><a href="http://modernweb.tw/index.html">首頁</a></li>
                        <li><a href="http://modernweb.tw/agenda.html">活動議程</a></li> -->
                        <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sessions<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Keynote</a></li>
                            <li><a href="forum02.html">Container Platforms</a></li>
                            <li><a href="forum03.html">Platform as a Service</a></li>
                            <li><a href="forum04.html">Overlay Networks</a></li>
                            <li><a href="forum05.html">Cloud Management Platforms</a></li>
                            <li><a href="forum06.html">Data Services</a></li>
                        </ul>
                    </li> -->
                        <li><a href="speaker.html">講師與講題</a></li>
                        <li><a href="agenda.html#content">大會議程表</a></li>
                        <li><a href="http://www.ithome.com.tw/videos/modernweb2016">議程影片</a></li>
                        <li><a href="#key-spe">焦點講師</a></li>
                        <!-- <li><a href="http://modernweb.tw/sponsors.html">合作夥伴</a></li> -->
                        <li><a href="https://gitter.im/modern-web-2016/Lobby" target="_blank">線上交流</a></li>
                        <li><a href="https://hackpad.com/ModernWeb2016-xzpftpuQASz" target="_blank">線上共筆</a></li>
                        <!-- <li><a href="https://ithomeonline.typeform.com/to/k4zjp4" target="_blank">會後問卷</a></li> -->

                        <li><a href="http://s.itho.me/modernweb/2017/ModernWeb2017-Sponsorship-v20170617.pdf">2017 贊助方案</a></li> 
                        <!-- <li><a href="#traffic">交通資訊</a></li> -->
                        <!-- <li id="sign-navi"><a href="#signup">立即報名</a></li> -->
                        <li id="social">
                            <a href="http://www.facebook.com/sharer.php?u=http://modernweb.tw/" target="_blank" class="social-btn"><img src="img/icon/fb-icon.png" class="img-responsive"></a>
                        </li>
                        <li id="social">
                            <a href="http://twitter.com/share?url=http://modernweb.tw/" target="_blank" class="social-btn"><img src="img/icon/tw-icon.png" class="img-responsive"></a>
                        </li>
                        <li id="social">
                            <a href="http://line.me/R/msg/text/?http://modernweb.tw/" target="_blank" class="social-btn"><img src="img/icon/line-icon.png" class="img-responsive"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content" id="content" v-cloak>
        <div id="top-area">
            <div id="info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- <p>Modern Web的起點，起因於一個「相信」，我們相信將推動Web前進的力量匯聚一起，就能激發出新的力量。</p>
<p>Modern Web 2016秉持這樣的信念，持續扮演推手的角色，邀請來自世界各地的大師、中國Web界的專家、台灣的高手們，希望為台灣Web發展碰撞出更多想法。</p>
<p>在Web狂飆進擊的時代，舊的秩序正在不斷瓦解，然而技術在我們手上，世界就在我們手上。因為有眾人的熱血投身參與，新的時代將從我們的手中建立。</p>
 -->
                            <h3 style="text-align:center;padding:3%;font-size:40px;">Modern Web 2017 贊助方案</h3>
                        </div>
                        <div class="cfp">
                        <p>大會日期 2017年8/10(四)-8/11(五)</p>


                        <h5 class="cta"><a href="http://s.itho.me/modernweb/2017/ModernWeb2017-Sponsorship-v20170617.pdf">2017 贊助方案說明</a></h5>

                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- <p>Modern Web的起點，起因於一個「相信」，我們相信將推動Web前進的力量匯聚一起，就能激發出新的力量。</p>
<p>Modern Web 2016秉持這樣的信念，持續扮演推手的角色，邀請來自世界各地的大師、中國Web界的專家、台灣的高手們，希望為台灣Web發展碰撞出更多想法。</p>
<p>在Web狂飆進擊的時代，舊的秩序正在不斷瓦解，然而技術在我們手上，世界就在我們手上。因為有眾人的熱血投身參與，新的時代將從我們的手中建立。</p>
 -->
                            <h3 style="text-align:center;padding:3%;font-size:40px;">Modern Web 2016特色</h3>
                        </div>
                        <div class="col-md-4  info-three">
                            <h4 class="text-center">世界級大師揭示Web發展動態</h4>
                            <p>JSON、JSLint的開創者，經典之作《JavaScript：優良部份》作者Douglas Crockford，以及來自Google及Nginx等公司的高手，揭示Web發展的啟發性想法</p>
                        </div>
                        <div class="col-md-4 info-three">
                            <h4 class="text-center">中國Web/電子商務專家齊聚</h4>
                            <p>來自中國阿里巴巴、騰訊、當當網、搜狗、秒錢、廣發證券...等公司的專家，完全解密他們在Web產業的實踐經驗</p>
                        </div>
                        <div class="col-md-4 ">
                            <h4 class="text-center">台灣業界高手不藏私分享</h4>
                            <p>台灣Web界的高手們，帶來過去這一年來他們在網站開發、維運、應用上的心得及技巧，絕對不藏私，完全熱血分享</p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="key-speaker" id="key-spe">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center title-large-r">
                            <h2>焦點講師</h2>
                        </div>
                    </div>
                    <div class="row hidden-xs hidden-sm">
                        <template v-for="speaker in speakerList | filterBy '關鍵講師' in 'role'">
                            <div class="keyspeaker-group" v-if="$index % 2 == 0">
                                <div class="col-md-4 col-xs-4 keyspeaker--infogroup">
                                    <a :href="speaker.hash_path" target="_blank">
                                        <div class="pic-group">
                                            <img src="img/rocket-speakerbg.png" class="img-responsive pic-bg">
                                            <div class="speker-pic">
                                                <img :src="speaker.avatar" class="img-circle img-responsive speaker-head">
                                            </div>
                                        </div>
                                    </a>
                                    <div class="spe-info">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3>{{ speaker.speaker }}</h3>
                                                <h5>{{ speaker.company }} {{ speaker.department }} {{ speaker.position }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 col-xs-8 keyspeaker--textgroup textright">
                                    <h2>{{{ speaker.profile }}}</h2>
                                    <div class="key-text-box">
                                        <p>{{{ speaker.full_profile }}}</p>
                                        <!-- <h4>● 精彩講題<br>Kuburnetes: Applying Lessons a Decade of Containers</h4> -->
                                    </div>
                                </div>
                            </div>
                            <div class="keyspeaker-group" v-if="$index % 2 == 1">
                                <div class="col-md-8 col-xs-8 keyspeaker--textgroup textleft">
                                    <h2>{{{ speaker.profile }}}</h2>
                                    <div class="key-text-box">
                                        <p>{{{ speaker.full_profile }}}</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4 col-md-offset-8 col-xs-offset-8 keyspeaker--infogroup">
                                    <a :href="speaker.hash_path" target="_blank">
                                        <div class=" pic-group">
                                            <img src="img/rocket-speakerbg.png" class="img-responsive pic-bg">
                                            <div class="speker-pic">
                                                <img :src="speaker.avatar" class="img-circle img-responsive speaker-head">
                                            </div>
                                        </div>
                                    </a>
                                    <div class="spe-info">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3>{{ speaker.speaker }}</h3>
                                                <h5>{{ speaker.company }} {{ speaker.department }} {{ speaker.position }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                    <div class="row hidden-md hidden-lg">
                        <template v-for="speaker in speakerList | filterBy '關鍵講師' in 'role'">
                            <div class="col-md-12 mobile-key-group">
                                <div class="mobile-key-header">
                                    <a :href="speaker.hash_path" target="_blank">
                                        <div class=" pic-group speakers-bg-cicle">
                                            <div class="speker-pic">
                                                <img :src="speaker.avatar" class="img-circle img-responsive" style="margin:0 auto;">
                                            </div>
                                        </div>
                                    </a>
                                    <h2>{{ speaker.speaker }}</h2>
                                    <h5>{{ speaker.company }} {{ speaker.department }} {{ speaker.position }}</h5>
                                    <div class="mobile-key-body keyspeaker--textgroup-mobile">
                                        <h3>{{ speaker.profile }}</h3>
                                        <div class="key-text-box ">
                                            <p>{{ speaker.full_profile }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
            <div id="dojo">
                <div class="container">
                    <div class="row dojo-area">
                        <div class="col-md-3"><img src="img/dojo-img.png" class="img-responsive" style="margin:0 auto;"></div>
                        <div class="col-md-7">
                            <h3 style="text-align:center;padding:3%;font-size:40px;">Code Dojo</h3>
                            <p>Modern Web 2016 規劃了6個 Hands-On Labs 主題，以入門認識為導向，讓大家可以親自動手體驗，一個主題只要15分鐘，迅速為自己的技能加點數</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6 dojo-text">
                                <h5><i class="fa fa-flask" aria-hidden="true"></i> Backend Testing Dojo</h5>
                                <br>撰寫 Test 測試程式，到底是減輕工作還是帶來更多負擔？Backend Testing Dojo 將透過實作常見的 Login 登入功能，讓大家在短時間內瞭解前後端開發的工作，如何實現測試驅動（TDD）開發方式，進行分工並且準確完成實作，以及更快速進行整合測試，利用測試在開發過程中累積能量。</div>
                            <div class="col-md-6 dojo-text">
                                <h5><i class="fa fa-flask" aria-hidden="true"></i> Electron Dojo</h5>
                                <br>JavaScript 不只可以用於前端開發，也能用 Node.js 開發 Server-side 的後端程式，同時還能用 Electron 打造桌面應用程式，Electron
                                以 Chromium（WebKit）與 Node.js 為基礎，利用 HTML、CSS 與 JavaScript 等大家熟悉的 Web-based 技術，就能開發 Windows、Linux
                                與 Mac OS X 的跨平台桌面應用程式，透過這次的 Electron Dojo 將讓您體驗使用 Web 相關技術輕鬆打造桌面應用程式的樂趣。</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 dojo-text">
                                <h5><i class="fa fa-flask" aria-hidden="true"></i> Frontend Testing Dojo</h5>
                                <br>TDD, BDD 的測試先行的觀念相信各位開發者已深植心中，但是前端測試到底瞭解多少？有多少人知道如何透過自動化測試進行開發測試流程的最後一哩路，前端測試對於許多人都是一個遙不可及的目標及願景，到底要怎麼做到前端測試，以及對於前端測試到底可以做到什麼程度？這次
                                Frontend Testing Dojo 將初探前端整合測試的大門，讓各位瞭解前端整合測試的工具及流程，讓開發者可以從範本中學習如何進行前端整合測試，讓大家開發產品能夠更為順暢，產品更新都能夠更為穩定。</div>
                            <div class="col-md-6 dojo-text">
                                <h5><i class="fa fa-flask" aria-hidden="true"></i> React Native Dojo</h5>
                                <br>您知道 JavaScript 也能開發手機原生應用程式（Native App）嗎？ React Native 是 Facebook 新的行動開發框架，讓熟悉 JavaScript、ReactJS
                                技術的 Web 開發者，也能開發支援 Android 與 iOS 的跨平台原生應用程式，本次的 React Native Dojo 提供一組 Android App 開發範例讓您輕鬆體驗。</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 dojo-text">
                                <h5><i class="fa fa-flask" aria-hidden="true"></i> Responsive CSS Dojo</h5>
                                <br>多重載具的時代，人們漸漸將手持裝置取代桌上型攜帶型電腦，甚至已經改變瀏覽的習慣。對於網頁開發者來說多重載具是一個現在進行式，舊有的固定寬度， table 排版，圖片的載入，甚至是表單的呈現都需要思考不同載具的呈現面，讓使用者如何在不同裝置不同螢幕尺寸上方便使用，
                                Responsive 絕對是現代網頁開發者必要的基礎能力，這場 Responsive 除了基本尺寸觀念之外，再將幾個 Responsive 必要觀點帶給各位。</div>
                            <div class="col-md-6 dojo-text">
                                <h5><i class="fa fa-flask" aria-hidden="true"></i> SASS Dojo</h5>
                                <br>CSS 是網頁中的一種靜態裝飾表達式，直到現在 CSS3 充滿了許多表達性，讓網頁有了豐富性的呈現，但是 CSS 少了可程式化，再用性，易讀性等問題， SASS 基於 CSS
                                並補足 CSS 原生不足的語言因此誕生，本次實做將針對未曾嘗試過 SASS 開發的網頁開發者所帶來的新體驗，藉由不同的比較，從範例中讓開發者瞭解 SASS 的好處優化開發流程，加速
                                CSS 開發成果。Code Dojo
                                <br>
                                <br>協力單位：EXMA-Square、創科資訊</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="china-speakers">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center title-large-c">
                            <h2>特色議程：中國Web技術日</h2>
                            <p class="china-speakers">
                                Modern Web 2016　特別企劃，邀請中國Web/電子商務專家在 8/25 以雙軌方式進行，包含前端、後端、架構等多面向的精彩議程，揭露許多實戰的寶貴經驗。</p>
                        </div>
                        <template v-for="speaker in speakerList | tag '中國'">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 speakers-group">
                                <a :href="speaker.hash_path" target="_blank">
                                    <div class="speakers-bg-cicle ">
                                        <div class="speker-pic">
                                            <img :src="speaker.avatar " class="img-circle img-responsive speaker-head-gray">
                                        </div>
                                    </div>
                                </a>
                                <div class="text-center">
                                    <div class="speakers-name">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <h3>{{ speaker.speaker }}</h3>
                                                <h5>{{ speaker.company }} {{ speaker.department }} {{ speaker.position }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
            <div id="speakers">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center title-large-w">
                            <h2>講師陣容</h2>
                        </div>
                        <template v-for="speaker in speakerList">
                            <template v-if="speaker.role != '關鍵講師'">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 speakers-group">
                                    <a :href="speaker.hash_path" target="_blank">
                                        <div class="speakers-bg-cicle ">
                                            <div class="speker-pic">
                                                <img :src="speaker.avatar " class="img-circle img-responsive speaker-head-gray"></div>
                                        </div>
                                    </a>
                                    <div class="text-center">
                                        <div class="speakers-name">
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <h3>{{ speaker.speaker }}</h3>
                                                    <h5>{{ speaker.company }} {{ speaker.department }} {{ speaker.position }}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </template>
                    </div>
                </div>
            </div>
            <!--
    <div id="signup">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center title-large-r">
                    <h2>立即購票</h2>
                </div>
            </div>
            <div class="row sign-table-head hidden-xs hidden-sm">
                <div class="col-md-5">票種</div>
                <div class="col-md-3">活動日期</div>
                <div class="col-md-2">費用</div>
                <div class="col-md-2">報名</div>
            </div>
            <div class="row sign-table-inside">
                <div class="col-md-5">早鳥優惠票</div>
                <div class="col-md-3">6/20~7/23</div>
                <div class="col-md-2">5,990元</div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-default btn-block" role="button">立即購票</a>
                </div>
            </div>
            <div class="row sign-table-inside">
                <div class="col-md-5">線上優惠票</div>
                <div class="col-md-3">7/24~8/23</div>
                <div class="col-md-2">6,990元</div>
                <div class="col-md-2">
                    <a href="https://ec.ithome.com.tw/modernweb2016/class?p=20160032" class="btn btn-info btn-block btn-disabled" role="button">立即購票</a>
                </div>
            </div>
            <div class="row sign-table-inside">
                <div class="col-md-5">iThome CIO 優惠碼優待票</div>
                <div class="col-md-3">6/20~8/23</div>
                <div class="col-md-2">1,990元</div>
                <div class="col-md-2">
                    <a href="https://ec.ithome.com.tw/modernweb2016/class?p=20160033" class="btn btn-default btn-block" role="button">立即購票</a>
                </div>
                <div class="col-md-10 col-md-offset-2 note text-left">
                    附註：* CIO 優惠碼優待票是 iThome 與 CIO 們進行封閉性產業交流時，回饋給參與者的致謝禮。若您也是希望與 iThome 有更多交流互惠的CIO，或者您遺失了我們發送給您的優惠碼，都歡迎留言至客服信箱，讓我們與您聯繫: <a href="mailto:service@mail.ithome.com.tw" class="mail">service@mail.ithome.com.tw</a>
                </div>
            </div>
            <div class="row sign-table-inside">
                <div class="col-md-5">5人（含)以上團體票</div>
                <div class="col-md-3">7/24~8/23</div>
                <div class="col-md-2">6,490元/人</div>
                <div class="col-md-2">
                    <a href="assets/modernweb2016_group.xlsx.zip" class="btn btn-info btn-block" role="button">下載團購單</a>
                </div>
            </div>
            <div class="row sign-table-inside">
                <div class="col-md-5">現場票</div>
                <div class="col-md-3">8/24、8/25</div>
                <div class="col-md-2">12,000元</div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-info btn-block" disabled="disabled" role="button">尚未開賣</a>
                </div>
            </div>
            <div class="row sign-table-inside">
                <div class="col-md-5">學生獎勵計劃</div>
                <div class="col-md-3">6/20~7/11(一) 中午12:00</div>
                <div class="col-md-2">免費(30名)</div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-info btn-block" disabled="disabled" role="button">申請結束</a>
                </div>
            </div>
        </div>
    </div>
-->
            <div id="traffic">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-8" id="map" style="height: 250px;">
                                <div id="gmap" class="visible-lg"></div>
                                <img src="img/staticmap.png" class="hidden-lg">
                                <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
                                <script>
                                    google.maps.event.addDomListener(window, 'load', init);

                                    function init() {
                                        var mapOptions = {
                                            zoom: 17,
                                            scrollwheel: false,
                                            center: new google.maps.LatLng(25.044554, 121.561825),
                                            styles: [{
                                                "stylers": [{
                                                    "hue": "#199db4"
                                                }]
                                            }, {
                                                "featureType": "road",
                                                "elementType": "labels",
                                                "stylers": [{
                                                    "visibility": "off"
                                                }]
                                            }, {
                                                "featureType": "road",
                                                "elementType": "geometry",
                                                "stylers": [{
                                                    "lightness": 100
                                                }, {
                                                    "visibility": "simplified"
                                                }]
                                            }]
                                        };

                                        var mapElement = document.getElementById('map');
                                        var map = new google.maps.Map(mapElement, mapOptions);
                                        var marker = new google.maps.Marker({
                                            position: new google.maps.LatLng(25.044554, 121.561825),
                                            map: map,
                                            title: ''
                                        });
                                    }
                                </script>
                            </div>
                            <div class="col-md-4" style="margin-top:8%;">
                                <h3>交通資訊</h3>
                                <p>台北文創 6F(台北市信義區菸廠路88號 6F)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sponsor">
                <div class="fullscreen-wrap2">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <!-- <div class="text-center"><img src="img/icon/sponsor01.png"></div> -->
                            <div class="text-center">
                                <h3 class="first">主辦單位</h3>
                                <div style="display: inline-block;">
                                    <a href="http://www.ithome.com.tw" target="_blank">
                                        <img src="img/logos/ithome.png" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <h3>協辦單位</h3>
                            <div class="logo-items">
                                <a href="http://exma-square.co/" target="_blank">
                                    <img src="img/logos/exma_logo.jpg">
                                </a>
                                <a href="http://www.geekbang.org/" target="_blank">
                                    <img src="img/logos/geekbang_logo.jpg">
                                </a>
                                <a href="http://www.infoq.com/cn/" target="_blank">
                                    <img src="img/logos/infoq_logo.jpg">
                                </a>
                                <a href="http://trunk-studio.com/" target="_blank">
                                    <img src="img/logos/trunk_logo.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="col-md-12 text-center" id="title">
                        <h2 class="title-red">贊助廠商</h2>
                    </div>

                    <div class="col-md-12">
                        <div class="text-center"><img src="img/icon/sponsor_dia.png"></div>
                        <div class="text-center">
                            <template v-for="sponsor in sponsorList | rank '鑽石級'">
                                <a v-bind:href="sponsor.hash_path" target="_blank">
                                    <div class="spon-logo-img" style="display: inline-block;">
                                        <img :src="sponsor.logo" class="img-responsive">
                                    </div>
                                </a>
                            </template>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text-center"><img src="img/icon/sponsor_pla.png"></div>
                        <div class="text-center">
                            <template v-for="sponsor in sponsorList | rank '白金級'">
                                <a v-bind:href="sponsor.hash_path" target="_blank">
                                    <div class="spon-logo-img" style="display: inline-block;">
                                        <img :src="sponsor.logo" class="img-responsive">
                                    </div>
                                </a>
                            </template>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text-center"><img src="img/icon/sponsor_gold.png"></div>
                        <div class="text-center">
                            <template v-for="sponsor in sponsorList | rank '黃金級'">
                                <a v-bind:href="sponsor.hash_path" target="_blank">
                                    <div class="spon-logo-img" style="display: inline-block;">
                                        <img :src="sponsor.logo" class="img-responsive">
                                    </div>
                                </a>
                            </template>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text-center"><img src="img/icon/sponsor_silver.png"></div>
                        <div class="text-center">
                            <template v-for="sponsor in sponsorList | rank '銀級'">
                                <a v-bind:href="sponsor.hash_path" target="_blank">
                                    <div class="spon-logo-img" style="display: inline-block;">
                                        <img :src="sponsor.logo" class="img-responsive">
                                    </div>
                                </a>
                            </template>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
    <!-- sponsor -->
    <div id="footer" class="container-fluid">
        <div class="col-md-12 footer-box">
            <div class="col-xs-4 col-md-2 no-p ">
                <i class="fa fa-calendar" aria-hidden="true"></i></div>
            <div class="col-xs-8 col-md-3 box-first">
                <h3 class="ftext"><span style="color:#f7d036;font-size:2.5vmin;">8 月 24-25 日 (三、四)</span>
                    <br>臺北文創大樓</h3>
            </div>
            <div class="col-xs-12 hidden-lg hidden-md " style="color:#ffffff;font-size: 2.8vmin;">
                <p>客服專線：02-25622880#3622 開小姐
                    <br>（週一至週五，上午10:30~12:00，下午1:30~5:30）
                    <br>客服信箱：service@mail.ithome.com.tw</p>
            </div>
            <div class="col-md-7 hidden-xs hidden-sm">
                <div class="row">
                    <div class="footer-contec-info col-md-12">
                        <h3>聯絡 Modern Web 服務小組</h3>
                        <p>客服專線：02-25622880#3622 開小姐（週一至週五，上午10:30~12:00，下午1:30~5:30）
                            <br>客服信箱：service@mail.ithome.com.tw</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/space.js"></script>
    <script src="js/app.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-48349256-7', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>
