<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Modern Web 2016將在8/24-25兩日，在台北文創舉行。今年Modern Web 2016邀請到JSON格式與《JavaScript：優良部份》作者 Douglas Crockford和Google、Nginx高手們進行主題演講，揭示Web發展動態。另外有中國Web/電子商務專家齊聚，完全解密他們在Web產業的實踐經驗，還有台灣業界高手不藏私分享。最精彩的Web技術分享與交流，就在Modern Web 2016">
    <meta name="author" content="ithome">
    <meta name="keywords" content="ithome" />
    <meta property="og:site_name" content="Modern Web 2016 ─ 技術在我們手上，世界就在我們手上" />
    <meta property="og:url" content="http://modernweb.tw" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Modern Web 2016 ─ 技術在我們手上，世界就在我們手上" />
    <meta property="og:description" content="Modern Web 2016將在8/24-25兩日，在台北文創舉行。今年Modern Web 2016邀請到JSON格式與《JavaScript：優良部份》作者 Douglas Crockford和Google、Nginx高手們進行主題演講，揭示Web發展動態。另外有中國Web/電子商務專家齊聚，完全解密他們在Web產業的實踐經驗，還有台灣業界高手不藏私分享。最精彩的Web技術分享與交流，就在Modern Web 2016" />
    <meta property="og:image" content="http://modernweb.tw/img/social-pic.jpg" />
    <title>Modern Web 2016 ─ 技術在我們手上，世界就在我們手上</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/space.css">
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body id="indexPage">
    <!-- <div id='wrapper'>
        <div class='clearfix' id='banner'>
            <div class='wrap clearfix'>
                <h1>2016 <span>ModernWeb</span> With <span>iThome!</span></h1>
            </div>
            <img src="img/ee.png" style="margin: 2% 3%; padding: 2% 3%;" class="earth">
        </div>
    </div> -->
    <div id="header">
        <!-- visible-xs -->
        <nav class="navbar navbar-fixed-top navbar-inverse hidden-lg hidden-md">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Modern Web 2016 </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul id="navbar-main" class="nav navbar navbar-right">
                        <!--   <li><a href="http://modernweb.tw/index.html">首頁</a></li>
                        <li><a href="http://modernweb.tw/agenda.html">活動議程</a></li> -->
                        <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sessions<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Keynote</a></li>
                            <li><a href="forum02.html">Container Platforms</a></li>
                            <li><a href="forum03.html">Platform as a Service</a></li>
                            <li><a href="forum04.html">Overlay Networks</a></li>
                            <li><a href="forum05.html">Cloud Management Platforms</a></li>
                            <li><a href="forum06.html">Data Services</a></li>
                        </ul>
                    </li> -->
                        <li><a href="speaker.html">講師與議程</a></li>
                        <li><a href="agenda.html">大會議程表</a></li>
                        <li><a href="index.html#key-spe">焦點講師</a></li>
                        <!-- <li><a href="http://modernweb.tw/sponsors.html">合作夥伴</a></li> -->
                        <li><a href="index.html#traffic">交通資訊</a></li>
                        <li><a href="index.html#signup">立即報名</a></li>
                        <li id="social">
                            <a href="http://www.facebook.com/sharer.php?u=http://modernweb.tw/" target="_blank" class="social-btn"><img src="img/icon/fb-icon.png" class="img-responsive"></a>
                        </li>
                        <li id="social">
                            <a href="http://twitter.com/share?url=http://modernweb.tw/" target="_blank" class="social-btn"><img src="img/icon/tw-icon.png" class="img-responsive"></a>
                        </li>
                        <li id="social">
                            <a href="http://line.me/R/msg/text/?http://modernweb.tw/" target="_blank" class="social-btn"><img src="img/icon/line-icon.png" class="img-responsive"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="mobile-head text-center image-responsive hidden-lg hidden-md">
            <h1>Modern Web 2016</h1>
            <h2>技術在我們手上，世界就在我們手上</h2>
            <h4>2016年8月24-25日　<span style="color: white;">台北文創 6F</span></h4>
            <!--
            <div class="text-center mobile-btn">
                <a href="#register">
                    <button class="btn btn-default" type="submit">Free Reservation</button>
                </a>
                <a href="http://goo.gl/forms/Rpn7xgU7wA" target="_blank">
                    <button class="btn btn-default" type="submit">Call for Speaker</button>
                </a>
                </a>
                <a href="#" target="_blank">
                    <a href="Prospectus-OSDayTaiwan2016.pdf" target="blank">
                        <button class="btn btn-default" type="submit">Sponsorship Prospectu</button>
                    </a>
                </a>
                <a href="#" target="_blank">
                    <a href="Prospectus-OSDayTaiwan2016-CT.pdf" target="blank">
                        <button class="btn btn-default" type="submit">中文招商企劃書</button>
                    </a>
                </a>
            </div> -->
        </div>
        <!-- /visible-xs -->
        <!-- hidden-xs -->
        <div id='wrapper' class="hidden-xs hidden-sm">
            <!-- </header> -->
            <div class="clearfix" id="banner">
                <div class="wrap clearfix" style="z-index: 9999; position: absolute;margin-top: 5%;">
                    <h1>Modern Web 2016</h1>
                    <h2>技術在我們手上，世界就在我們手上</h1>
                    <h4>
                        <i class="fa fa-calendar"></i>
                        2016年 8月 24-25日
                        <i class="fa fa-map-marker"></i>
                        台北文創
                    </h1>
                </div>
                <img src="img/earth-bg.png" style="position: absolute;right: 0px;bottom: 0px;" class="earth">
            </div>
        </div>
        <!-- /hidden-xs -->
    </div>
    <div id="nav" class="hidden-xs hidden-sm">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- <img src="img/navi-logo.png"> -->
                        Modern Web 2016
                    </a>
                </div>
                <div class="btn-bar">
                    <ul id="navbar-main" class="nav navbar navbar-right">
                        <!--   <li><a href="http://modernweb.tw/index.html">首頁</a></li>
                        <li><a href="http://modernweb.tw/agenda.html">活動議程</a></li> -->
                        <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sessions<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Keynote</a></li>
                            <li><a href="forum02.html">Container Platforms</a></li>
                            <li><a href="forum03.html">Platform as a Service</a></li>
                            <li><a href="forum04.html">Overlay Networks</a></li>
                            <li><a href="forum05.html">Cloud Management Platforms</a></li>
                            <li><a href="forum06.html">Data Services</a></li>
                        </ul>
                    </li> -->
                        <li><a href="speaker.html">講師與議程</a></li>
                        <li><a href="agenda.html">大會議程表</a></li>
                        <li><a href="index.html#key-spe">焦點講師</a></li>                        
                        <!-- <li><a href="http://modernweb.tw/sponsors.html">合作夥伴</a></li> -->
                        <li><a href="index.html#traffic">交通資訊</a></li>
                        <li id="sign-navi"><a href="index.html#signup">立即報名</a></li>
                        <li id="social">
                            <a href="http://www.facebook.com/sharer.php?u=http://modernweb.tw/" target="_blank" class="social-btn"><img src="img/icon/fb-icon.png" class="img-responsive"></a>
                        </li>
                        <li id="social">
                            <a href="http://twitter.com/share?url=http://modernweb.tw/" target="_blank" class="social-btn"><img src="img/icon/tw-icon.png" class="img-responsive"></a>
                        </li>
                        <li id="social">
                            <a href="http://line.me/R/msg/text/?http://modernweb.tw/" target="_blank" class="social-btn"><img src="img/icon/line-icon.png" class="img-responsive"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content" id="content">
        <div id="top-area">
            <div id="info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">                           
                            <h3 style="text-align:center;padding:3%;font-size:40px;">Modern Web 2016 講師陣容</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="key-speaker" id="key-spe" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center title-large-r">
                            <h2>焦點講師</h2>
                </div>
            </div>
            <div class="speakers-page hidden-xs hidden-sm">
                <template v-for="speaker in speakerList | filterBy '關鍵講師' in 'role'">
                    <div class="row">
                        <div class="speakers-production" :id="'s' + speaker.target_id">
                            <div class="col-md-4 ">
                                <div class="speakers-group-large">
                                    <div class="speakers-bg-cicle "><img :src="speaker.avatar" class="img-circle img-responsive speaker-head-gray-large speaker-head-gold-large" style="margin:0 auto;"></div>
                                    <div class="text-center">
                                        <div class="speakers-name-large">
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <h3>{{ speaker.speaker }}</h3>
                                                    <h5>{{ speaker.company }} {{ speaker.department }} {{ speaker.position }}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <template v-for="session in speaker.session">
                                <div class="col-md-8 pre-scrollable speakers-production-text">
                                    <h3><i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;{{ session.title }}</h3>
                                    <p>{{ session.summary }}</p>
                                </div>
                            </template>
                        </div>
                        <div class="col-md-12 session-group">
                            {{ speaker.full_profile }}
                            <!-- <div class="text-right"> <span><i class="fa fa-angle-double-down" aria-hidden="true"></i> 更多講題內容</span></div> -->
                        </div>
                    </div>
                </template>
            </div>
            <div class="row hidden-md hidden-lg">
                <template v-for="speaker in speakerList | filterBy '關鍵講師' in 'role'">
                    <div class="col-md-12 mobile-key-group">
                        <div class="mobile-key-header" :id="'s' + speaker.target_id">
                            <div class=" pic-group speakers-bg-cicle">
                                <img :src="speaker.avatar" class="img-circle img-responsive" style="margin:0 auto;"></div>
                            <h2>{{ speaker.speaker }}</h2>
                            <h5>{{ speaker.company }} {{ speaker.department }} {{ speaker.position }}</h5>
                            <div class="mobile-key-body keyspeaker--textgroup-mobile">
                                <template v-for="session in speaker.session">
                                    <div class="key-text-box ">
                                        <h4>● 精彩講題<br>{{ session.title }}</h4>
                                        <p>{{ session.summary }}</p>
                                    </div>
                                </template>
                                <div class="session-box col-md-6 text-left">
                                    <p>{{ speaker.full_profile }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
        <hr>
        <div id="top-area">
            <div class="key-speaker" id="key-spe">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center title-large-r">
                            <h2>講師陣容</h2>
                        </div>
                    </div>
                    <div class="speakers-page hidden-xs hidden-sm">
                        <template v-for="speaker in speakerList">
                            <template v-if="speaker.role != '關鍵講師'">
                                <div class="row">
                                    <div class="speakers-production" :id="'s' + speaker.target_id">
                                        <div class="col-md-4 ">
                                            <div class="speakers-group-large">
                                                <div class="speakers-bg-cicle "><img :src="speaker.avatar" class="img-circle img-responsive speaker-head-gray-large" style="margin:0 auto;"></div>
                                                <div class="text-center">
                                                    <div class="speakers-name-large">
                                                        <div class="row">
                                                            <div class="col-md-12 text-center">
                                                                <h3>{{ speaker.speaker }}</h3>
                                                                <h5>{{ speaker.company }} {{ speaker.department }} {{ speaker.position }}</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8 pre-scrollable speakers-production-text">
                                            <template v-for="session in speaker.session">
                                                <h3><i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;{{ session.title }}</h3>
                                                <p>{{ session.summary }}</p>
                                                <!-- <div class="text-right"> <span><i class="fa fa-angle-double-down" aria-hidden="true"></i> 更多講題內容</span></div> -->
                                            </template>
                                        </div>
                                    </div>
                                    <div class="col-md-12 session-group">
                                        {{ speaker.full_profile }}
                                    </div>
                                </div>
                            </template>
                        </template>
                    </div>
                    <div class="row hidden-md hidden-lg">
                        <template v-for="speaker in speakerList">
                            <template v-if="speaker.role != '關鍵講師'">
                                <div class="col-md-12 mobile-key-group">
                                    <div class="mobile-key-header" :id="'s' + speaker.target_id">
                                        <div class=" pic-group speakers-bg-cicle">
                                            <img :src="speaker.avatar" class="img-circle img-responsive" style="margin:0 auto;"></div>
                                        <h2>{{ speaker.speaker }}</h2>
                                        <h5>{{ speaker.company }} {{ speaker.department }} {{ speaker.position }}</h5>
                                        <div class="mobile-key-body keyspeaker--textgroup-mobile">
                                            <div class="key-text-box ">
                                                <template v-for="session in speaker.session">
                                                    <div class="session-box col-md-6 text-left">
                                                        <h4>● 精彩講題<br>{{ session.title }}</h4>
                                                        <p>{{ session.summary }}</p>
                                                    </div>
                                                </template>
                                            </div>
                                            <p>{{ speaker.full_profile }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <div id="sponsor">
            <div class="fullscreen-wrap2">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <!-- <div class="text-center"><img src="img/icon/sponsor01.png"></div> -->
                        <div class="text-center">
                            <h3 class="first">主辦單位</h3>
                            <div style="display: inline-block;"><img src="img/logos/ithome.png" class="img-responsive"></div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <h3>協辦單位</h3>
                        <div class="logo-items">
                            <img src="img/logos/exma_logo.jpg">
                            <img src="img/logos/geekbang_logo.jpg">
                            <img src="img/logos/infoq_logo.jpg">
                            <img src="img/logos/trunk_logo.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="container-fluid">
        <div class="col-md-12 footer-box">
            <div class="col-xs-4 col-md-2 no-p ">
                <i class="fa fa-calendar" aria-hidden="true"></i></div>
            <div class="col-xs-8 col-md-3 box-first">
                <h3 class="ftext"><span style="color:#f7d036;font-size:2.5vmin;">8 月 24-25 日 (三、四)</span>
                        <br>臺北文創大樓</h3>
            </div>
            <div class="col-xs-12 hidden-lg hidden-md " style="color:#ffffff;font-size: 2.8vmin;">
                <p>客服專線：02-25622880#3622 開小姐
                    <br>（週一至週五，上午10:30~12:00，下午1:30~5:30）
                    <br>客服信箱：service@mail.ithome.com.tw</p>
            </div>
            <div class="col-md-7 hidden-xs hidden-sm">
                <div class="row">
                    <div class="footer-contec-info col-md-12">
                        <h3>聯絡 Modern Web 服務小組</h3>
                        <p>客服專線：02-25622880#3622 開小姐（週一至週五，上午10:30~12:00，下午1:30~5:30）
                            <br>客服信箱：service@mail.ithome.com.tw</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/space.js"></script>
    <script src="js/app.js"></script>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-48349256-7', 'auto');
    ga('send', 'pageview');
    </script>
</body>

</html>
