/* ====================
 *	Elements
 * ==================== */

.button{
	display: inline-block;
	padding: 10px 15px;
	background-color: $mw-LightBlue;
	box-shadow: 0 2px 0 darken($mw-LightBlue, 10%);
	color: $mw-White;
	text-align: center;
	text-transform: uppercase;
	transition: none; 
	margin: 10px 0;
	&:hover{
		color: $mw-White;
		background-color: darken($mw-LightBlue, 5%);
		box-shadow: 0 2px 0 darken($mw-LightBlue, 20%);
		transition: none;
	}
}

.fb-btn{
	display: block;
	background: url(img/fb-btn.png) no-repeat;
	width: 85px;
	height: 90px;
	position: fixed;
	right:-7px;
	top:40%;
	z-index: 9999;
	&:hover{
		right: -4px;
	}

}

.fb-like.fb_iframe_widget{
	float: right;
	padding: 20px;
}

.side-tag{
	display: block;
	background-color: $mw-Blue;
	width: 35px;
	color: $white;
	padding: 10px;
	position: fixed;
	right: 0px;
	top: 60%;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	text-align: center;
	box-shadow: 0 2px 0 darken($mw-Blue, 10%);
	z-index: 9999;
	&:hover{
		background-color: darken($mw-Blue, 5%);
		color: $mw-LightBlue;
		box-shadow: 0 2px 0 darken($mw-Blue, 50%);
	}
}

.coming-soon{text-align: center;}

/* ====================
 *	header section
 * ==================== */

#header{
	position: absolute;
	height: $header-height;
	background-color: $mw-White;
	border: none;
	@include rwd($tablet){
		height: $header-height/2;
	}
}

#nav{
	width: 100%;
}

#nav-branding{
	display: block;
	float: left;
	line-height: $header-height;
	//background-color: rgba(255,0,0,.2);
	@include rwd($tablet){
		width: 100%;
		line-height: $header-height/2;
	}
	#logo{
		display: inline-block;
		height: $header-height - 45;
		@include rwd($tablet){
			height: $header-height/2 - 20;
		}
		img{ height: 100% }
	}

	#mobile-btn{
		display: none;
		float: right;
		padding: 10px;
		margin: 7px $gap/2;
		background-color: $mw-DarkBlue;
		border-radius: 3px;
		opacity: .9;
		.icon-bar{
			display: block;
			width: 30px;
			height: 2px;
			background-color: $mw-White;
			margin-bottom: 5px;
		}
		.icon-bar:last-child{
			margin-bottom: 0;
		}
		@include rwd($tablet){
			display: block;
		}

	}
}

#nav-menu{
	display: block;
	float: right;
	//background-color: rgba(0,0,255,.2);
	padding: 0;
	margin: 0;
	vertical-align: top;

	// @include rwd($tablet){
	// 	display: none;
	// 	position: fixed;
	// 	right: -250px;
	// }

	ul{
		display: table;
		width: 100%;
		padding: 0;
		margin: 0;
		li{
			display: table-cell;
			padding: 0;
			text-align: center;
			a{
				position: relative;
				display: inline-block;
				margin: 0 $gap / 2;
				color: $mw-DarkBlue;
				height: $header-height;
				line-height: $header-height - 15;
				// border-bottom: 2px solid transparent;
				text-align: center;
				font-size: $base-font-size * 1.3;
				&:after{
					content: "";
					display: inline-block;
					position: absolute;
					bottom: 25px;
					left: 0;
					width: 100%;
					height: 10px;
					background-color: $mw-Red;
					opacity: .8;
				}
				&:hover {
					&:after{
						-webkit-animation: scaleWidth .5s 1; /* Chrome, Safari, Opera */ 
    					animation: scaleWidth .5s 1;
					}
				}
			}
			// &.active a{
			// 	color: $mw-DarkBlue;
			// 	border-color: $mw-DarkBlue;
			// 	&:after{
			// 		color: $mw-DarkBlue;
			// 	}
			// }

			// item border color
			&:nth-child(2) a:after{background-color: $mw-Yellow;}
			&:nth-child(3) a:after{background-color: $mw-Green;}
			&:nth-child(4) a:after{background-color: $mw-Blue;}
			&:nth-child(5) a:after{background-color: $mw-Purple;}
			&:nth-child(6) a:after{background-color: $mw-Gray;}
		}
	}
}


/* == mobile menu == */

	@include rwd($tablet){

		.body-wrapper{
			width: 100%;
			position: relative;
			right: 0;
			@include transition-animation(0.5);
		}

		#nav-menu{
			display: block;
			position: fixed;
			width: 50%;
			height: 100%;
			max-width: 250px;
			right: -250px;
			top: 0;
			bottom: 0;
			overflow-y: scroll;
			overflow-x: hidden;
			z-index: 800;
			@include transition-animation(0.5);


			//Menu Mobile Style
			background: $mw-DarkBlue;
			ul{
				height: 100%;
				overflow: scroll-y;
				li{
					&.active a{
						color: #FFF;
						background-color: darken($mw-DarkBlue, 10%);
						border-bottom: 1px solid lighten($mw-DarkBlue,5%);
					}
					display: block;
					a{
						width: 100%;
						color: #FFF;
						text-align: left;
						padding-left: $gap;
						margin-left: 0;
						height: $header-height/2;
						line-height: $header-height/2;
						border-bottom: 1px solid lighten($mw-DarkBlue,5%);
						&:after{
							left: 0;
							top:0;
							bottom: initial;
							width: 10px;
							height: 100%;
						}
						&:hover{
							border-bottom: 1px solid lighten($mw-DarkBlue,5%);
							&:after{
								animation: none;
								-webkit-animation: none;
							}
						}
					}
				}
			}
		}
	}

	body.open-menu{
		overflow: hidden;
		position: relative;

		#nav-menu{
			display: block;
			right: 0;
			@include transition-animation(0.5);
		}

		.body-wrapper, #footer{
			right: 250px;
			overflow: hidden;
			@include transition-animation(0.5);
		}
	}

/* ====================
 *	Page title
 * ==================== */
	
	.page-wrapper{

		.page-title{
			background-color: $mw-DarkBlue;
			height: $banner-height; 
			h1{
				height: $banner-height+100;
				padding-top: $gap/2;
				background: url(img/robots/robot-red.png) no-repeat center center;
				background-position: 35% 20px;
				line-height: $banner-height;
				text-align: center;
				color: $mw-White;
				font-size: $base-font-size * 2.5;
				font-weight: 100;
				vertical-align: top;
				// &:before{
				// 	content: '';
				// 	display: inline-block;
				// 	background: url(img/robots/robot-red.png) no-repeat center center;
				// 	width: 200px;
				// 	height: 200px;
				// }

			}
		}

		.page-content{
			padding-top: $gap + 50;

		}
	}

/* ====================
 *	footer section
 * ==================== */

	#footer{
		position: absolute;
		right: 0;
		width: 100%;
		height: $footer-height;
		line-height: $footer-height;
		background-color: $mw-DarkBlue;
		color: $mw-White;
		text-align: center;
	}

/* ====================
 *	Animation Keyframes
 * ==================== */

	/*== colorChange ==*/

		/* Chrome, Safari, Opera */ 
		@-webkit-keyframes colorChange {
		    0%   {background: $mw-Red;}
		    25%  {background: $mw-Yellow;}
		    50%  {background: $mw-Green;}
		    75%  {background: $mw-Blue;}
		    100% {background: $mw-Purple;}
		}

		/* Standard syntax */
		@keyframes colorChange {
		    0%   {background: $mw-Red;}
		    25%  {background: $mw-Yellow;}
		    50%  {background: $mw-Green;}
		    75%  {background: $mw-Blue;}
		    100% {background: $mw-Purple;}
		}

	/*== fontColorChange ==*/

		/* Chrome, Safari, Opera */ 
		@-webkit-keyframes fontColorChange {
		    0%   {color: $mw-Red;}
		    25%  {color: $mw-Yellow;}
		    50%  {color: $mw-Green;}
		    75%  {color: $mw-Blue;}
		    100% {color: $mw-Purple;}
		}

		/* Standard syntax */
		@keyframes fontColorChange {
		    0%   {color: $mw-Red;}
		    25%  {color: $mw-Yellow;}
		    50%  {color: $mw-Green;}
		    75%  {color: $mw-Blue;}
		    100% {color: $mw-Purple;}
		}

	/*== scaleWidth ==*/
		
		/* Chrome, Safari, Opera */ 
		@-webkit-keyframes scaleWidth {
		    0%   {width: 0; left: 50%;}
		    100% {width: 100%; left: 0%;}
		}

		/* Standard syntax */
		@-webkit-keyframes scaleWidth {
		    0%   {width: 0; left: 50%;}
		    100% {width: 100%; left: 0%;}
		}