@mixin rwd($device){
	@media screen and (max-width:#{$device}){
		@content;
	}
}

@mixin transition-animation($time){
	-moz-transition: all #{$time}s ease;
	-o-transition: all #{$time}s ease;
	-webkit-transition: all #{$time}s ease;
	transition: all #{$time}s ease;
}