/******************************************
*
*	modernweb variables, font-face
*
*******************************************/


$mw-DarkBlue: 	#313b3f;
$mw-LightBlue:	#30bcea;
$mw-White:		#e7eaed;
$mw-Gray:		#d2d2d2;
$mw-Red: 		#bc7c72;
$mw-Yellow:		#c7b04f;
$mw-Green: 		#5d7051;
$mw-Blue: 		#426f94;
$mw-Purple: 	#5c5b79;

$white:			#FFFFFF;

$header-height: 100px;
$footer-height: 50px;
$banner-height: 150px;

$gap: 30px;
$padding: 10px;

$base-font-size: 14px;

$desktop: 1200px;
$tablet: 992px;
$mobile: 768px;
$mobile-small: 480px;
$mobile-extrasmall: 320px;