/* ====================
 *	News page style
 * ==================== */

.post-wrapper{overflow: hidden;}
.post-item{
	display: inline-block;
	position: relative;
	width: percentage(1/4)-2;
	min-height: 250px;
	margin: 0 2% 2% 0;
	padding: $gap/2;
	float: left;
	text-align: left;
	background-color: $mw-White;
	box-shadow: 0 2px 0 darken($mw-White,20%);
	@include rwd($desktop) {
		width: percentage(1/3)-2;
	}
	@include rwd($tablet) {
		width: percentage(1/2)-2;
	}
	@include rwd($mobile-small) {
		width: 100%;
		margin: 0 $gap $gap 0; 
	}
	img{
		width: 100%;
		height: auto;
	}
	h2{
		margin-top: $gap*1.5;
		color: $mw-LightBlue;
	}
	.date{
		display: block;
		position: absolute;
		width: 150px;
		height: $gap;
		top: -3px;
		left: 50%;
		margin-left: -75px;
		line-height: $gap;
		text-align: center;
		background-color: rgba($mw-DarkBlue, 0.8);
		color: $mw-White;
		&:after{
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-top: $gap/2 solid rgba($mw-DarkBlue, 0.8);
			border-right: 75px solid transparent;
			border-left: 75px solid transparent;
		}

	}

	.button{
		position: absolute;
		width: 200px;
		bottom: $gap;
		left: 50%;
		margin-left: -100px;
	}
}

