.speakers {
	@extend %section;
	&__title {
		display: block;
		margin-bottom: 20px;
		@include media(">1199px") {
			display: inline-block;
			width:40%;
			margin-left: -6px;
			margin-bottom: 0;
		}
		@include media(">768px","<=1199px") {
			.title {
				width: 40%;
			}
	    }
		
	}
	&__speaker {
		display: inline-block;
		width: 50%;
		margin-bottom: 4%;
		font-size: 0;
	    vertical-align: top;
	 //    @include media("<=768px") {
	 //       max-width: 230px;
		// }
		@include media(">768px") {
			width: 33.3%;
		}
		@include media(">991px") {
			width: 25%;
		}
		@include media(">1199px") {
			width: 20%;
		}
	}
}