@charset "UTF-8";
/******************************************
*
*	include compass css3 library
*
*******************************************/
/******************************************
*
*	include yowureport global styles
*
*******************************************/
/******************************************
*
*	modernweb variables, font-face
*
*******************************************/
/* ===================
 *	sticky footer
 * =================== */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/* line 7, sass/sass/_global.scss */
* {
  margin: 0;
}

/* line 10, sass/sass/_global.scss */
html, body {
  height: 100%;
  font-family: "Open Sans", "LiHei Pro", "微軟正黑體", "新細明體", sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

/* line 16, sass/sass/_global.scss */
body {
  overflow-x: hidden;
  background-color: #d2d2d2;
}

/* sticky footer: 50px */
/* line 21, sass/sass/_global.scss */
.body-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

/* line 27, sass/sass/_global.scss */
.push {
  height: 50px;
}

/* fixed header: 100px */
/* line 31, sass/sass/_global.scss */
.content-wrapper {
  padding-top: 100px;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
@media screen and (max-width: 992px) {
  /* line 31, sass/sass/_global.scss */
  .content-wrapper {
    padding-top: 50px;
  }
}

/*
*	global styles
*/
/* line 43, sass/sass/_global.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: bold;
}

/* line 47, sass/sass/_global.scss */
h1 {
  font-size: 25.2px;
}

/* line 50, sass/sass/_global.scss */
h2 {
  font-size: 18.2px;
}

/* line 53, sass/sass/_global.scss */
h3 {
  font-size: 15.4px;
}

/* line 56, sass/sass/_global.scss */
h5 {
  font-size: 14px;
}

/* line 59, sass/sass/_global.scss */
h6 {
  font-size: 14px;
}

/* line 62, sass/sass/_global.scss */
a {
  color: #30bcea;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 65, sass/sass/_global.scss */
a:hover {
  color: #debe38;
  text-decoration: none;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 71, sass/sass/_global.scss */
a:focus, button:focus {
  outline: none;
  text-decoration: none;
}

/* line 76, sass/sass/_global.scss */
p, span, div, a, td, th {
  font-size: 14px;
  letter-spacing: .1em;
  line-height: 1.4;
}

/* line 82, sass/sass/_global.scss */
p {
  margin-bottom: 10px;
}

/* line 86, sass/sass/_global.scss */
hr {
  margin: 30px 0;
  border-color: #d2d2d2;
}

/* 
*	for reset bootstrap default padding
*/
/* line 94, sass/sass/_global.scss */
.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 98, sass/sass/_global.scss */
.no-margin {
  margin-left: 0px;
  margin-right: 0px;
}

/* line 102, sass/sass/_global.scss */
.form-control:focus {
  border-color: none;
  box-shadow: none;
}

/******************************************
*
*	include yowureport partials
*
*******************************************/
/* ====================
 *	Elements
 * ==================== */
/* line 5, sass/sass/_layout.scss */
.button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #30bcea;
  box-shadow: 0 2px 0 #15a3d2;
  color: #e7eaed;
  text-align: center;
  text-transform: uppercase;
  transition: none;
  margin: 10px 0;
}
/* line 15, sass/sass/_layout.scss */
.button:hover {
  color: #e7eaed;
  background-color: #19b5e8;
  box-shadow: 0 2px 0 #117fa3;
  transition: none;
}

/* line 23, sass/sass/_layout.scss */
.fb-btn {
  display: block;
  background: url(img/fb-btn.png) no-repeat;
  width: 85px;
  height: 90px;
  position: fixed;
  right: -7px;
  top: 40%;
  z-index: 9999;
}
/* line 32, sass/sass/_layout.scss */
.fb-btn:hover {
  right: -4px;
}

/* line 38, sass/sass/_layout.scss */
.fb-like.fb_iframe_widget {
  float: right;
  padding: 20px;
}

/* line 43, sass/sass/_layout.scss */
.side-tag {
  display: block;
  background-color: #426f94;
  width: 35px;
  color: #FFFFFF;
  padding: 10px;
  position: fixed;
  right: 0px;
  top: 60%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
  box-shadow: 0 2px 0 #325571;
  z-index: 9999;
}
/* line 57, sass/sass/_layout.scss */
.side-tag:hover {
  background-color: #3a6282;
  color: #30bcea;
  box-shadow: 0 2px 0 black;
}

/* line 64, sass/sass/_layout.scss */
.coming-soon {
  text-align: center;
}

/* ====================
 *	header section
 * ==================== */
/* line 70, sass/sass/_layout.scss */
#header {
  position: absolute;
  height: 100px;
  background-color: #e7eaed;
  border: none;
}
@media screen and (max-width: 992px) {
  /* line 70, sass/sass/_layout.scss */
  #header {
    height: 50px;
  }
}

/* line 80, sass/sass/_layout.scss */
#nav {
  width: 100%;
}

/* line 84, sass/sass/_layout.scss */
#nav-branding {
  display: block;
  float: left;
  line-height: 100px;
}
@media screen and (max-width: 992px) {
  /* line 84, sass/sass/_layout.scss */
  #nav-branding {
    width: 100%;
    line-height: 50px;
  }
}
/* line 93, sass/sass/_layout.scss */
#nav-branding #logo {
  display: inline-block;
  height: 55px;
}
@media screen and (max-width: 992px) {
  /* line 93, sass/sass/_layout.scss */
  #nav-branding #logo {
    height: 30px;
  }
}
/* line 99, sass/sass/_layout.scss */
#nav-branding #logo img {
  height: 100%;
}
/* line 102, sass/sass/_layout.scss */
#nav-branding #mobile-btn {
  display: none;
  float: right;
  padding: 10px;
  margin: 7px 15px;
  background-color: #313b3f;
  border-radius: 3px;
  opacity: .9;
}
/* line 110, sass/sass/_layout.scss */
#nav-branding #mobile-btn .icon-bar {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #e7eaed;
  margin-bottom: 5px;
}
/* line 117, sass/sass/_layout.scss */
#nav-branding #mobile-btn .icon-bar:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 992px) {
  /* line 102, sass/sass/_layout.scss */
  #nav-branding #mobile-btn {
    display: block;
  }
}

/* line 127, sass/sass/_layout.scss */
#nav-menu {
  display: block;
  float: right;
  padding: 0;
  margin: 0;
  vertical-align: top;
}
/* line 141, sass/sass/_layout.scss */
#nav-menu ul {
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 146, sass/sass/_layout.scss */
#nav-menu ul li {
  display: table-cell;
  padding: 0;
  text-align: center;
}
/* line 150, sass/sass/_layout.scss */
#nav-menu ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #313b3f;
  height: 100px;
  line-height: 85px;
  text-align: center;
  font-size: 18.2px;
}
/* line 160, sass/sass/_layout.scss */
#nav-menu ul li a:after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #bc7c72;
  opacity: .8;
}
/* line 172, sass/sass/_layout.scss */
#nav-menu ul li a:hover:after {
  -webkit-animation: scaleWidth .5s 1;
  /* Chrome, Safari, Opera */
  animation: scaleWidth .5s 1;
}
/* line 187, sass/sass/_layout.scss */
#nav-menu ul li:nth-child(2) a:after {
  background-color: #c7b04f;
}
/* line 188, sass/sass/_layout.scss */
#nav-menu ul li:nth-child(3) a:after {
  background-color: #5d7051;
}
/* line 189, sass/sass/_layout.scss */
#nav-menu ul li:nth-child(4) a:after {
  background-color: #426f94;
}
/* line 190, sass/sass/_layout.scss */
#nav-menu ul li:nth-child(5) a:after {
  background-color: #5c5b79;
}
/* line 191, sass/sass/_layout.scss */
#nav-menu ul li:nth-child(6) a:after {
  background-color: #d2d2d2;
}

/* == mobile menu == */
@media screen and (max-width: 992px) {
  /* line 201, sass/sass/_layout.scss */
  .body-wrapper {
    width: 100%;
    position: relative;
    right: 0;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  /* line 208, sass/sass/_layout.scss */
  #nav-menu {
    display: block;
    position: fixed;
    width: 50%;
    height: 100%;
    max-width: 250px;
    right: -250px;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 800;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #313b3f;
  }
  /* line 225, sass/sass/_layout.scss */
  #nav-menu ul {
    height: 100%;
    overflow: scroll-y;
  }
  /* line 228, sass/sass/_layout.scss */
  #nav-menu ul li {
    display: block;
  }
  /* line 229, sass/sass/_layout.scss */
  #nav-menu ul li.active a {
    color: #FFF;
    background-color: #1b2022;
    border-bottom: 1px solid #3c484d;
  }
  /* line 235, sass/sass/_layout.scss */
  #nav-menu ul li a {
    width: 100%;
    color: #FFF;
    text-align: left;
    padding-left: 30px;
    margin-left: 0;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #3c484d;
  }
  /* line 244, sass/sass/_layout.scss */
  #nav-menu ul li a:after {
    left: 0;
    top: 0;
    bottom: initial;
    width: 10px;
    height: 100%;
  }
  /* line 251, sass/sass/_layout.scss */
  #nav-menu ul li a:hover {
    border-bottom: 1px solid #3c484d;
  }
  /* line 253, sass/sass/_layout.scss */
  #nav-menu ul li a:hover:after {
    animation: none;
    -webkit-animation: none;
  }
}
/* line 264, sass/sass/_layout.scss */
body.open-menu {
  overflow: hidden;
  position: relative;
}
/* line 268, sass/sass/_layout.scss */
body.open-menu #nav-menu {
  display: block;
  right: 0;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 274, sass/sass/_layout.scss */
body.open-menu .body-wrapper, body.open-menu #footer {
  right: 250px;
  overflow: hidden;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* ====================
 *	Page title
 * ==================== */
/* line 287, sass/sass/_layout.scss */
.page-wrapper .page-title {
  background-color: #313b3f;
  height: 150px;
}
/* line 290, sass/sass/_layout.scss */
.page-wrapper .page-title h1 {
  height: 250px;
  padding-top: 15px;
  background: url(img/robots/robot-red.png) no-repeat center center;
  background-position: 35% 20px;
  line-height: 150px;
  text-align: center;
  color: #e7eaed;
  font-size: 35px;
  font-weight: 100;
  vertical-align: top;
}
/* line 312, sass/sass/_layout.scss */
.page-wrapper .page-content {
  padding-top: 80px;
}

/* ====================
 *	footer section
 * ==================== */
/* line 322, sass/sass/_layout.scss */
#footer {
  position: absolute;
  right: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #313b3f;
  color: #e7eaed;
  text-align: center;
}

/* ====================
 *	Animation Keyframes
 * ==================== */
/*== colorChange ==*/
/* Chrome, Safari, Opera */
@-webkit-keyframes colorChange {
  0% {
    background: #bc7c72;
  }
  25% {
    background: #c7b04f;
  }
  50% {
    background: #5d7051;
  }
  75% {
    background: #426f94;
  }
  100% {
    background: #5c5b79;
  }
}
/* Standard syntax */
@keyframes colorChange {
  0% {
    background: #bc7c72;
  }
  25% {
    background: #c7b04f;
  }
  50% {
    background: #5d7051;
  }
  75% {
    background: #426f94;
  }
  100% {
    background: #5c5b79;
  }
}
/*== fontColorChange ==*/
/* Chrome, Safari, Opera */
@-webkit-keyframes fontColorChange {
  0% {
    color: #bc7c72;
  }
  25% {
    color: #c7b04f;
  }
  50% {
    color: #5d7051;
  }
  75% {
    color: #426f94;
  }
  100% {
    color: #5c5b79;
  }
}
/* Standard syntax */
@keyframes fontColorChange {
  0% {
    color: #bc7c72;
  }
  25% {
    color: #c7b04f;
  }
  50% {
    color: #5d7051;
  }
  75% {
    color: #426f94;
  }
  100% {
    color: #5c5b79;
  }
}
/*== scaleWidth ==*/
/* Chrome, Safari, Opera */
@-webkit-keyframes scaleWidth {
  0% {
    width: 0;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0%;
  }
}
/* Standard syntax */
@-webkit-keyframes scaleWidth {
  0% {
    width: 0;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0%;
  }
}
/* ====================
 *	Index page style
 * ==================== */
/* line 6, sass/sass/pages/_index.scss */
#home > section {
  padding: 30px;
  text-align: center;
  clear: both;
}
/* line 11, sass/sass/pages/_index.scss */
#home .section-title {
  display: inline-block;
  font-size: 30.8px;
  text-align: center;
  margin: 30px auto 60px;
}
/* line 16, sass/sass/pages/_index.scss */
#home .section-title:after {
  content: '';
  display: block;
  width: 100%;
  height: 10px;
  background-color: #bc7c72;
  margin-top: 15px;
}
/* line 26, sass/sass/pages/_index.scss */
#home .post-item {
  width: 31%;
  padding: 0;
}
/* line 29, sass/sass/pages/_index.scss */
#home .post-item > h2, #home .post-item .excerpt {
  padding: 0;
}
@media screen and (max-width: 992px) {
  /* line 26, sass/sass/pages/_index.scss */
  #home .post-item {
    width: 46%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 640px) {
  /* line 26, sass/sass/pages/_index.scss */
  #home .post-item {
    width: 100%;
    margin: 0 30px 30px 0;
  }
}

/* line 46, sass/sass/pages/_index.scss */
#main-banner {
  background: #30bcea url(img/balloon.png) no-repeat center center;
  background-size: 80% auto;
  min-height: 800px;
  text-align: center;
  padding-bottom: 60px;
}
@media screen and (max-width: 768px) {
  /* line 46, sass/sass/pages/_index.scss */
  #main-banner {
    background-size: 180% auto;
    background-position: center 50px;
  }
}
/* line 56, sass/sass/pages/_index.scss */
#main-banner .robots {
  width: 562px;
  height: 333px;
  background: url(img/index-robots.png) no-repeat center center;
  margin: 60px auto 0 auto;
}
@media screen and (max-width: 480px) {
  /* line 56, sass/sass/pages/_index.scss */
  #main-banner .robots {
    width: 100%;
    height: 333px;
    margin-top: 50px;
  }
}
/* line 67, sass/sass/pages/_index.scss */
#main-banner .title {
  margin: 30px 0 10px;
  font-size: 25.2px;
  text-align: underline;
}
/* line 71, sass/sass/pages/_index.scss */
#main-banner .title:hover {
  -webkit-animation: fontColorChange .5s infinite;
  /* Chrome, Safari, Opera */
  animation: fontColorChange .5s infinite;
}
/* line 76, sass/sass/pages/_index.scss */
#main-banner .date {
  font-size: 22.4px;
  color: #e7eaed;
  margin-bottom: 10px;
}
/* line 81, sass/sass/pages/_index.scss */
#main-banner .slogan {
  font-weight: bold;
  margin: 0 0 10px 0;
  font-size: 22.4px;
}
/* line 86, sass/sass/pages/_index.scss */
#main-banner .desc {
  margin: 0 auto 30px auto;
  font-size: 18.2px;
  line-height: 32.2px;
  max-width: 800px;
}
/* line 93, sass/sass/pages/_index.scss */
#main-banner .button {
  width: 300px;
  background-color: #313b3f;
  font-size: 21px;
  box-shadow: 0 2px 0 #1b2022;
  margin-bottom: 30px;
}
/* line 99, sass/sass/pages/_index.scss */
#main-banner .button:hover {
  color: #30bcea;
}

/* line 105, sass/sass/pages/_index.scss */
#recommend-speaker {
  background-color: #d2d2d2;
}
/* line 107, sass/sass/pages/_index.scss */
#recommend-speaker > .section-title:after {
  background-color: #c7b04f;
}
/* line 110, sass/sass/pages/_index.scss */
#recommend-speaker .speaker {
  text-align: center;
  box-shadow: none;
  padding: 0;
}
/* line 114, sass/sass/pages/_index.scss */
#recommend-speaker .speaker .speaker-img {
  display: block;
}
/* line 116, sass/sass/pages/_index.scss */
#recommend-speaker .speaker .speaker-img img {
  width: 100%;
}
/* line 121, sass/sass/pages/_index.scss */
#recommend-speaker .speaker .speaker-intro {
  display: block;
  float: left;
  width: 100%;
  background-color: #FFFFFF;
}
/* line 129, sass/sass/pages/_index.scss */
#recommend-speaker .speaker .speaker-intro .speaker-title h1 {
  margin: 15px 0;
}
/* line 132, sass/sass/pages/_index.scss */
#recommend-speaker .speaker .speaker-intro .speaker-title span {
  display: inline-block;
  margin: 0 0 30px 0;
  color: #30bcea;
  font-size: 16.8px;
}

/* line 144, sass/sass/pages/_index.scss */
#home #news {
  background-color: #e7eaed;
}
/* line 146, sass/sass/pages/_index.scss */
#home #news .post-item {
  background-color: #FFFFFF;
}
/* line 148, sass/sass/pages/_index.scss */
#home #news .post-item h2 {
  padding: 10px 15px;
}
/* line 149, sass/sass/pages/_index.scss */
#home #news .post-item .excerpt {
  padding: 0 15px;
}

/* line 156, sass/sass/pages/_index.scss */
#sponsor {
  background-color: #FFFFFF;
}
/* line 158, sass/sass/pages/_index.scss */
#sponsor > .section-title:after {
  background-color: #d2d2d2;
}

/* ====================
 *	News page style
 * ==================== */
/* line 5, sass/sass/pages/_news.scss */
#news {
  padding-bottom: 60px;
}

/* line 10, sass/sass/pages/_news.scss */
.post-item {
  display: inline-block;
  position: relative;
  width: 23%;
  min-height: 250px;
  margin: 0 2% 2% 0;
  padding: 15px;
  float: left;
  text-align: left;
  background-color: #e7eaed;
  box-shadow: 0 2px 0 #adb7c1;
}
@media screen and (max-width: 1200px) {
  /* line 10, sass/sass/pages/_news.scss */
  .post-item {
    width: 31.33333%;
  }
}
@media screen and (max-width: 992px) {
  /* line 10, sass/sass/pages/_news.scss */
  .post-item {
    width: 48%;
  }
}
@media screen and (max-width: 580px) {
  /* line 10, sass/sass/pages/_news.scss */
  .post-item {
    width: 100%;
    margin: 0 30px 30px 0;
  }
}
/* line 31, sass/sass/pages/_news.scss */
.post-item img {
  width: 100%;
  height: auto;
}
/* line 35, sass/sass/pages/_news.scss */
.post-item h2 {
  margin-top: 45px;
  color: #30bcea;
}
/* line 39, sass/sass/pages/_news.scss */
.post-item .date {
  display: block;
  position: absolute;
  width: 150px;
  height: 30px;
  top: -3px;
  left: 50%;
  margin-left: -75px;
  line-height: 30px;
  text-align: center;
  background-color: rgba(49, 59, 63, 0.8);
  color: #e7eaed;
}
/* line 51, sass/sass/pages/_news.scss */
.post-item .date:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 15px solid rgba(49, 59, 63, 0.8);
  border-right: 75px solid transparent;
  border-left: 75px solid transparent;
}
/* line 63, sass/sass/pages/_news.scss */
.post-item .button {
  position: absolute;
  width: 200px;
  bottom: 30px;
  left: 50%;
  margin-left: -100px;
}

/* ====================
 *	Single style
 * ==================== */
/* line 5, sass/sass/pages/_single.scss */
.post {
  max-width: 770px;
  margin: 0 auto 60px;
  background-color: #e7eaed;
  padding: 30px;
  box-shadow: 0 2px 0 #adb7c1;
}
/* line 11, sass/sass/pages/_single.scss */
.post h3 {
  color: #30bcea;
  font-size: 25.2px;
}
/* line 15, sass/sass/pages/_single.scss */
.post .post-meta {
  margin: 15px 0;
}
/* line 19, sass/sass/pages/_single.scss */
.post .post-footer a {
  font-size: 16.8px;
}

/* ====================
 *	Sponsor page style
 * ==================== */
/* line 5, sass/sass/pages/_program.scss */
#program .page-title h1 {
  background-image: url("img/robots/robot-green.png");
  background-position: 38% 20px;
}

/* ====================
 *	Sponsor page style
 * ==================== */
/* line 5, sass/sass/pages/_sponsor.scss */
#sponsors .page-title h1 {
  background-image: url("img/robots/robot-ali.png");
  background-position: 38% 20px;
}

/* line 11, sass/sass/pages/_sponsor.scss */
#sponsor > ul {
  padding: 0;
  text-align: center;
}
/* line 14, sass/sass/pages/_sponsor.scss */
#sponsor > ul h4 {
  margin: 30px 0;
}
/* line 15, sass/sass/pages/_sponsor.scss */
#sponsor > ul li {
  display: inline-block;
  list-style: none;
  width: 100%;
  max-width: 200px;
  margin: 0 15px 15px 0;
}
/* line 22, sass/sass/pages/_sponsor.scss */
#sponsor > ul li img {
  width: 100%;
}

/* line 27, sass/sass/pages/_sponsor.scss */
#sponsors {
  padding-bottom: 60px;
}
/* line 29, sass/sass/pages/_sponsor.scss */
#sponsors .sponsor-group {
  clear: both;
}
/* line 31, sass/sass/pages/_sponsor.scss */
#sponsors .sponsor-group h4 {
  text-align: center;
  margin: 30px 0;
}
/* line 36, sass/sass/pages/_sponsor.scss */
#sponsors .post-item {
  text-align: center;
}
/* line 38, sass/sass/pages/_sponsor.scss */
#sponsors .post-item .speaker-name h2 {
  margin-top: 0;
}
/* line 39, sass/sass/pages/_sponsor.scss */
#sponsors .post-item .button {
  position: static;
  margin-left: 0;
}
/* line 45, sass/sass/pages/_sponsor.scss */
#sponsors #private-sponsor .post-item {
  height: auto;
  min-height: 30px;
}
/* line 48, sass/sass/pages/_sponsor.scss */
#sponsors #private-sponsor .post-item h2, #sponsors #private-sponsor .post-item h5 {
  margin: 0;
}
/* line 49, sass/sass/pages/_sponsor.scss */
#sponsors #private-sponsor .post-item img, #sponsors #private-sponsor .post-item .intro {
  display: none;
}

/* ====================
 *	Info page style
 * ==================== */
/* line 5, sass/sass/pages/_info.scss */
#info .page-title h1 {
  background-image: url("img/robots/robot-blue.png");
  background-position: 33% 20px;
}

/* line 12, sass/sass/pages/_info.scss */
#info {
  text-align: center;
  padding: 0 0 60px 0;
}
/* line 15, sass/sass/pages/_info.scss */
#info h6 {
  margin: 0 0 30px 0;
  font-size: 19.6px;
}
/* line 20, sass/sass/pages/_info.scss */
#info table {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
  border-left: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}
/* line 26, sass/sass/pages/_info.scss */
#info table th, #info table td {
  padding: 15px 30px;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
/* line 32, sass/sass/pages/_info.scss */
#info table th {
  width: 15%;
  background-color: #313b3f;
  color: #e7eaed;
  font-weight: bold;
  text-align: center;
}
/* line 39, sass/sass/pages/_info.scss */
#info table td {
  width: 60%;
  background-color: #e7eaed;
  text-align: left;
}
/* line 43, sass/sass/pages/_info.scss */
#info table td h6 {
  margin: 15px 0;
}
/* line 48, sass/sass/pages/_info.scss */
#info table tr:nth-child(even) td {
  background-color: #d2d2d2;
}
/* line 53, sass/sass/pages/_info.scss */
#info .map-box {
  width: 100%;
  margin: 30px 0;
}

/* ====================
 *	Sponsor page style
 * ==================== */
/* line 5, sass/sass/pages/_speaker.scss */
#speakers .page-title h1 {
  background-image: url("img/robots/robot-yellow.png");
  background-position: 41% 20px;
}

/* line 10, sass/sass/pages/_speaker.scss */
.post-item.speaker {
  padding: 0;
  position: relative;
}
/* line 13, sass/sass/pages/_speaker.scss */
.post-item.speaker .speaker-name {
  padding: 15px;
  text-align: center;
}
/* line 16, sass/sass/pages/_speaker.scss */
.post-item.speaker .speaker-name h2 {
  margin-top: 0;
}
/* line 17, sass/sass/pages/_speaker.scss */
.post-item.speaker .speaker-name h5 {
  font-size: 14px;
}
/* line 22, sass/sass/pages/_speaker.scss */
.post-item.speaker .intro {
  position: absolute;
  top: -100px;
  bottom: 0;
  padding: 15px;
  background-color: #e7eaed;
  opacity: 0;
  text-align: left;
}
@media screen and (max-width: 992px) {
  /* line 22, sass/sass/pages/_speaker.scss */
  .post-item.speaker .intro {
    position: relative;
    opacity: 1;
    top: 0;
    padding-top: 0;
  }
}
/* line 36, sass/sass/pages/_speaker.scss */
.post-item.speaker .intro:hover {
  top: 0;
  opacity: 1;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* ====================
 *	Sponsor page style
 * ==================== */
/* line 5, sass/sass/pages/_staff.scss */
#staff .page-title h1 {
  background-image: url("img/robots/robot-purple.png");
  background-position: 35% 20px;
}

/******************************************
*
*	structure notes
*
*******************************************/
/*
	z-index:

	header: 

	(when menu on)-
	content-wrapper: 
	footer: 

*/
