/* ====================
 *	Single style
 * ==================== */

.post{
	max-width: 770px;
	margin: 0 auto $gap*2;
	background-color: $mw-White;
	padding: $gap;
	box-shadow: 0 2px 0 darken($mw-White,20%);
	h3{
		color: $mw-LightBlue;
		font-size: $base-font-size * 1.8;
	}
	.post-meta{
		margin: $gap/2 0;
	}
	.post-footer{
		a{
			font-size: $base-font-size*1.2;
		}
	}
	
}

