/* ====================
 *	Sponsor page style
 * ==================== */

#sponsors .page-title h1{
	background-image: url('img/robots/robot-ali.png');
	background-position: 38% 20px;
}

#sponsor{
	> ul{
		padding: 0;
		text-align: center;
		h4{margin: $gap 0; }
		li{
			display: inline-block;
			list-style: none;
			width: 100%;
			max-width: 200px;
			margin: 0 $gap/2 $gap/2 0;

			img{width: 100%;}
		}
	}
}

#sponsors{
	padding-bottom: $gap*2;
	.sponsor-group{
		clear: both;
		h4{
			text-align: center;
			margin: $gap 0;	
		}
	}
	.post-item{
		text-align: center;
		.speaker-name h2{margin-top: 0;}
		.button{
			position: static;
			margin-left: 0;
		}
	}
	#private-sponsor{
		.post-item{
			height: auto;
			min-height: $gap;
			h2,h5{margin:0;}
			img,.intro{display: none;}
		}
	}
}


