.menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 3;
    transition: .2s linear;
    @include media("<768px") {
        background-color: transparent;
    }
    &.on {
        height: 100%;
        bottom: 0;
        background-color: rgba(#000, .5);
    }
    @include media(">767px") {
        &--scroll {
            background-color: rgba($space-color, .8);
            .menu__logo {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    &__logo {
        display: block;
        margin-top: 8px;
        width: 20%;
        opacity: 0;
        transition: .2s linear;
        transform: translateY(-150%);
        @include media(">1199px") {
            width: 12%;
        }
        img {
            width: 100%;
            user-select: none;
        }
    }
    &__burger-logo {
        display: block;
        width: 60%;
        margin: 0 auto;
        margin-top: 40px;
        img {
            width: 100%;
            user-select: none;
        }
    }
    &__content {
        float: right;
        @include media("<768px") {
            float: none;
            position: fixed;
            right: 0;
            top: 0;
            bottom: 0;
            width: 70%;
            height: 100%;
            background-color: #fff;
            transition: .2s linear;
            transform: translateX(100%);
            box-shadow: -20px 0 40px -20px rgba($space-color, .9);
            overflow-y: scroll;
            opacity: 0;
        }
        &.on {
            transform: translateX(0);
            opacity: 1;
        }
    }
    &__list {
        @include media("<768px") {
            float: none;
            margin-top: 10%;
        }
        >li {
            float: left;
            @include media("<768px") {
                float: none;
            }
        }
        a {
            display: block;
            margin: 12px 12px;
            padding: 0 10px;
            color: #fff;
            @include font-hover (#fff, $hover-color: lighten($main-green, 8%), $active-color: darken($main-green, 7%));
            @include media("<768px") {
                margin: 20px auto;
                text-align: center;
                @include font-hover ($main-green, $hover-color: lighten($main-green, 8%), $active-color: darken($main-green, 7%));
            }
        }
    }
    &__burger {
        @include media(">767px") {
            display: none;
        }
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 1000;
        &.on {
            span:nth-child(1) {
                background-color: $main-green;
                transform: rotate(45deg) translate(4px, 4px);
            }
            span:nth-child(2) {
                opacity: 0;
            }
            span:nth-child(3) {
                background-color: $main-green;
                transform: rotate(-45deg) translate(7px, -7px);
            }
        }
        span {
            display: block;
            width: 100%;
            height: 2px;
            background: white;
            margin: 6px auto;
            backface-visibility: hidden;
            transition: 0.2s linear;
        }
    }
}

.is-hidden {
    overflow: hidden;
}

.dropdown-menu {
    right: 0;
    min-width: 100px;
    text-align: center;
}

.dropdown-menu>li>a {
    display: block;
    margin: 12px 8px;
    padding: 3px 0;
}