/* ===================
 *	sticky footer
 * =================== */

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

* {
	margin: 0;
}
html, body {
	height: 100%;
	font-family: 'Open Sans', 'LiHei Pro', '微軟正黑體','新細明體', sans-serif ;
	font-size: $base-font-size;
	line-height: 1.4;
}
body{
	overflow-x: hidden;
	background-color: $mw-Gray;
}
/* sticky footer: #{$footer-height} */
.body-wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -#{$footer-height};
}
.push{
	height: $footer-height;
}
/* fixed header: #{$header-height} */
.content-wrapper{
	padding-top: $header-height;
	@include transition-duration(0.5s);
	@include rwd($tablet) {
		padding-top: $header-height/2;
	}
}

/*
*	global styles
*/

h1,h2,h3,h4,h5,h6{
	margin-top: 0;
	font-weight: bold;
}
h1{
	font-size: $base-font-size * 1.8;
}
h2{
	font-size: $base-font-size * 1.3;
}
h3{
	font-size: $base-font-size * 1.1;
}
h5{
	font-size: $base-font-size;
}
h6{
	font-size: $base-font-size
}
a{
	color: $mw-LightBlue;
	@include transition-duration(0.5s);
	&:hover{
		color: saturate($mw-Yellow,20%);
		text-decoration: none;
		@include transition-duration(0.5s);
	}
}
a:focus, button:focus{
	outline: none;
	text-decoration: none;
}

p,span,div,a,td,th{
	font-size: $base-font-size;
	letter-spacing: .1em;
	line-height: 1.4;
}

hr{
	margin: $gap 0;
	border-color: $mw-Gray; 
}

/* 
*	for reset bootstrap default padding
*/
.no-padding{
	padding-left: 0px;
	padding-right: 0px;
}
.no-margin{
	margin-left: 0px;
	margin-right: 0px;
}
.form-control:focus{
	border-color: none;
	box-shadow: none;
}