@mixin font-hover ($font-color, $hover-color: lighten($font-color,7%), $active-color: darken($font-color,7%) ) {
    color: $font-color;
    &:hover,&:focus {
        color: $hover-color;
    }
    &:active {
        color: $active-color;
    }
}

@mixin btn-hover ($bg-color, $hover-bg-color: lighten($bg-color,7%), $active-bg-color: darken($bg-color,7%) ) {
    color: #fff;
    background-color: $bg-color;
    &:hover,&:focus {
    	color: #fff;
    	background-color: $hover-bg-color;
    }
    &:active {
    	color: #fff;
    	background-color: $active-bg-color;
    }
}

